<div class="row">
    <button data-bind="click: openMessage, disable: isOpen" type="button" class="btn btn-default">New Message</button>
</div>

<div class="row">
    <ul data-bind="foreach: messages">
        <li>
            <div class="message">
                <input type="hidden" data-bind="value: id" />
                <div class="message-header">
                    @@<span data-bind="text: name"></span>
                </div>
                <div data-bind="text: text"></div>
                <div class="message-footer">
                    <a data-bind="click: $root.deleteMessage" class="delete "href="#">Delete</a> | <a href="#">Reply</a>
                </div>
                <br style="clear: both"/>
            </div>
        </li>
    </ul>
    Messages (tweets) will go here
</div>

<div class="new-message" data-bind="dialog: { isOpen: isOpen, title: 'New Message', minWidth: 400, minHeight: 200 }">
    <textarea data-bind="value: message, valueUpdate: 'input'"></textarea>
    <div>
        <button data-bind="enable: canSend(), click: sendMessage">Send</button>
        <label data-bind="text: getCharacterCount(), style:{color: canSend() ? 'green' : 'red'} "></label>
    </div>
</div>