<div class="row">
    <button data-bind="click: openMessage, disable: isOpen" type="button" class="btn btn-default">New Message</button>
</div>

<div class="row">
    <ul data-bind="foreach: messages">
        <li>
            <div>
                <span data-bind="text: name"></span>
                <div data-bind="text: text"></div>
            </div>
        </li>
    </ul>
    Messages (tweets) will go here
</div>

<div class="new-message" data-bind="dialog: { isOpen: isOpen, title: 'New Message', minWidth: 400, minHeight: 200 }">
    <textarea data-bind="value: message, valueUpdate: 'input'"></textarea>
    <div>
        <button data-bind="enable: canSend()">Send</button>
        <label data-bind="text: getCharacterCount(), style:{color: canSend() ? 'green' : 'red'} "></label>
    </div>
</div>